block variables
  - var CWD = '';
  - var attrsHtml = { lang: `${ dir === 'rtl' ? 'ar' : 'en-US'}`, dir: dir || 'ltr', "data-bs-theme": "dark" };
  - var title = 'Dynamic';
  - var attrsBody = {};
  - var attrsMain = {};
  - var attrsLayout = {};

doctype html
html()&attributes(attrsHtml)
  head
    block meta
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(name='viewport' content='width=device-width, initial-scale=1')
    title=title

    block favicon
    //-   link(rel="apple-touch-icon" sizes="180x180", href=`${CWD}assets/img/favicons/apple-touch-icon.png`)
    //-   link(rel="icon" type="image/png" sizes="32x32", href=`${CWD}assets/img/favicons/favicon-32x32.png`)
    //-   link(rel="icon" type="image/png" sizes="16x16", href=`${CWD}assets/img/favicons/favicon-16x16.png`)
    //-   link(rel="shortcut icon" type="image/x-icon", href=`${CWD}assets/img/favicons/favicon.ico`)
    //-   link(rel="manifest", href=`${CWD}assets/img/favicons/manifest.json`)
    //-   meta(name='msapplication-TileImage', content=`${CWD}assets/img/favicons/mstile-150x150.png`)
    //-   meta(name="theme-color" content="#ffffff")

    block headScripts

    block styles
      link(rel='stylesheet' href='../assets/scss/theme.scss')
      link(rel='stylesheet' href='../assets/scss/user.scss')

    body()&attributes(attrsBody)

        block beforeMainContent

            main()&attributes(attrsMain)
                block mainContent
        block afterMainContent
    script(src="../assets/js/index.js", type="module")
    block layoutScripts
    block footerStyles
